{
	"parserOptions": {
		"ecmaVersion": 2018,
		"sourceType": "module"
	},
	"parser": "@typescript-eslint/parser",
	"extends": [
		"standard",
		// "airbnb-typescript-prettier",
		"plugin:@typescript-eslint/recommended",
		"plugin:security/recommended",
		"plugin:jest/recommended",
		"plugin:jest-formatting/recommended",
		"plugin:prettier/recommended"
	],
	"rules": {
		"prettier/prettier": 1,
		"@typescript-eslint/no-explicit-any": 0,
		"node/handle-callback-err": 0,
		"prefer-const": 0
	},
	"env": {
		"jest/globals": true
	},
	"settings": {
		"jest": {
			"version": 26
		}
	}
}
